.border{
    width: auto;
    border-radius: 1rem;
    border: solid blue 0.2rem;
    max-width: max-content;
}

.header{
    text-align: center;
    padding: 0.3rem;
    border-bottom: solid 0.1rem gray;
    text-align: center;
}
.input_text{
    padding-bottom: 1rem;
    border-bottom: solid 0.1rem gray;
}

.space_x{
    padding-left: 1rem;
    padding-right: 1rem;
}
.list_name{
    padding: 0.5rem;
}